h1, h2, p {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: grid;
    place-items: center;
}

.container{
    max-width: 500px;
}

.content{
    padding: 25px;
    max-width: 450px;
    background-color: #f1f1f1;
}

h1{
    text-align: center;
    margin: 45px auto;
    color: #2e7ad3;
    font-size: 48px;
}

h2{
    font-size: 32px;
    color: #104c90;
    margin-bottom:15px;
}

img{
    margin-bottom: 25px;
}

p{
    font-size: 16px;
    padding-bottom: 9px;
}

.links{
    padding: 0;
}

a{
    font-weight: bold;
    color:#ff8000;
}

/*imagen = 451*/