body{
    margin: 0;
    padding: 0;
    height: 100vh;

    display: grid;
    place-items: center;

    background-color: #2D2E36;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{

    background-color: #383A45;
    margin: 1rem;
    padding: 1rem;
    border-radius: .4rem;
    max-width: 270px;
}

.photo{
    width: 100%;
    border-radius: .2rem;
}

p.title{
    color: white;
    font-size: 1.2rem;
    line-height: 119.7%;
}

p.description{
    color:#8D91A6;
}

.link{
    width: .8rem;
}

@media only screen and (min-width:550px){
    .container{
        max-width: 600px;
    }

    .photo{
        width: 9rem;
        margin-right: 1rem;
    }

    a{
        display: flex;
    }
}

@media only screen and (min-width:950px){
    html{
        font-size: 18px ;
    }
}