body{
    margin: 0;
    background-color: rgb(34, 34, 68);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h3{
    font-size: 50px;
}

h4{
    font-size: 100px;
    padding: 50px;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
}

.container{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.container .board{
    width: 250px;
    padding: 50px;
}

button{
    margin-top: 30px;
    background-color: rgb(34, 34, 68);
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 20px;
}