body{
    margin: 0;
    background-color: rgb(23, 23, 57);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.team-board{
    /*background-color:rgb(43, 32, 84) ;*/
    width: 15%;
    text-align: center;
}

h2{
    background-color: rgb(16, 16, 16);
    padding: 50px;
    font-size:600%;
    margin: 25px;
    border-radius: 10px;
    color: brown;
}

.buttons{
    margin: 25px;
    color: white;
    display: flex;
    justify-content: space-around;

}

.buttons button{
    color:white;
    background-color: rgb(23, 23, 57);
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}