body{
    margin: 0;
    background-color: rgb(23, 23, 57);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.container{
    display: flex;
    justify-content: space-around;
}

.team-board{
    background-color:rgb(43, 32, 84) ;
    width: 15%;
    text-align: center;
}