h1, h2, h3, h4, h5, h6, p, body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    max-width: 978px;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid red;
}

h2{
    padding-top: 1em;
    padding-bottom: 1em;
}

img{
    width: 100%;
}

.section-one{
    display: flex;
}

.box-two{
    flex-grow: 3;
}



.section-two{
    display: flex;
}