h1, h2, h3, h4, h5, h6, p, body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    font-size: 1.125rem;
    color: #707070;
}

/* typography */

h1{

    font-size: 3rem;
    color: #212614;
    text-align: center;

    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid red;
}

h1 span{
    color:#b7832f
}

h2{
    font-size: 1.5rem;

    padding-top: 1em;
    padding-bottom: 1em;
}


/* Layout */

.container{
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

.columns{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em 0;
}


img{
    max-width: 100%;
}

.col-1{
    width: 20%;
}

.col-2{
    width: 45%;
}

.col-3{
    width: 70%;
}


.col-bg{
    background-color: #312614;
    color: #fff;
    padding: 1em;
}


@media (max-width: 600px) {
    .columns{
        flex-direction: column;
    }

    .col-1, .col-2, .col-3{
        width: 100%;
    }
}


