body{
    font-family: sans-serif;
}

h3{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 1200px;
    margin: auto;
}

.section{
    display: flex;
    width: 100%;
}

.boxes{
    border: 1px solid black;
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;

}

.box-1{
    color: white;
    background-color: #121212;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.5s;
    
}

.box-1:hover{
    color: #121212;
    background-color: white;
    font-size: 6rem;
}

.box-2{
    color: orange;
    background-color: blue;
    transition: all 1s 0.01s;
}

.box-2:hover{
    color: blue;
    background-color: orange;
    font-size: 1rem;
}

.square{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.square-1{
    /*transition: width 2s, height 1s, background-color 2s, rotate 2s;*/
    transition: all 2s 0.1s;
}

.square-1:hover{
    background-color: #ffcccc;
    width: 200px;
    height: 200px;
    rotate:90deg;
    border-radius: 100px;
}

.square-2{
    transition: all 0.2s ease-out;
}

.square-2:hover, .square-2:focus{
    width: 95px;
    height: 95px;
    background-color: rgb(149, 149, 149);
    color: #333333;
}