body{
    margin: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.section-1, .section-2, .section-3{
    display: flex;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.col-1, .col-2, .col-3{
    height: 100px;
    border-radius: 10px;
    border: .1px solid #b7b7b7;
}

.col-1{
    width: 20%;
}

.col-2{
    width: 50%;
}

.col-3{
    width: 30%;
}