
:root{
    --color-red: #ff4d4d;
    --color-blue: #738cff;
    --color-green: #46ff36;
    --color-orange: #ffaf24;
}

body{
    margin: 0;
    background: #242423;
}

.box{
    height: 30px;
    width: 30px;
}

.box-red{
    background: var(--color-red);
    margin:0;
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    /* 

    prefixes for animation - browser compatibility

    -webkit-animation: size-down ease-out 0.5s infinite alternate both;
    -ms-animation: size-down ease-out 0.5s infinite alternate both;
    -moz-animation: size-down ease-out 0.5s infinite alternate both;
    -o-animation: size-down ease-out 0.5s infinite alternate both;

    */
}

.box-blue{
    background: var(--color-blue);
    margin: 0;
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.box-green{
    background: var(--color-green);
    margin: 0;
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.box-orange{
    background: var(--color-orange);
    margin: 0;
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes transform{
    50%{transform:
        translateX(50vw)
        translateY(50vh)
        scaleX(10)
        skewY(60deg)
    }
    100%{transform:
        translateX(0px)
        translateY(0px)
    }
}