h1, h2, p{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;

    display: grid;
    place-items: center;
}


.card{
    background-color: #000;
    color: white;
    width: 560px;
    margin: 0 auto;
    padding: 50px;
}

h1{
    font-size: 24px;
}

p{
    font-size: 18px;
    margin-top: 20px;
    
}

.links{
    margin-top: 40px;
}

span{
    background-color: yellow;
    color: #000;
}

a:link, a:visited{
    color: yellow;
}

a:focus{
    color: aquamarine;
}

a:hover {
    color: firebrick;
}

a:active{
    color: plum;
}