
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* typography*/
h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    margin: 0;
}

.container{
    width: 90%;
    max-width: 900px;
    border: 1px solid magenta;
    margin: 0 auto;
}

.contanier-nav{
    display: flex;
    justify-content: space-between;
}

@media (max-width:675px){

    .container{
        text-align: center;
    }

    .contanier-nav{
        flex-direction: column;
    }
}

.subtitle{
    font-size: .75rem;
    font-weight: 700;
    color: #1792D2;
    margin: 0;

}

nav ul{
    font-size: 1rem;
    color: #707070;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

@media (max-width:500px){
    nav ul{
        display: flex;
        flex-direction: column;
    }
}

nav li{
    margin-left: 2em;
}


@media (max-width:500px){
    nav li{
        margin: 1em;
    }
}


nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover, nav a:focus{
    color: #1792d2;
}

header{
    background-color: #f8f8f8;
    padding: 2em 0;
}

.current-page{
    border-bottom: 2px solid #707070;
}

.current-page:hover{
    color: #707070;
}