body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "lato";
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

header{
    background-color: #2E354f;
    color: #fff;
    padding: 50px 0;
}

.container{
    border: 1px solid pink;
    /*width: 620px; >>>>>>>>>>>>> Cambiar aqui pixeles por % */
    width: 50%;
    margin: 0 auto;
}

img{
    width: 100%;    /* Adicionar un width a la imagen para que se adapte al container padre */
}

h1{
    font-size: 36px;
}

section{
    padding: 50px 0;
}

.section-two{
    background-color: #2E354f;
    color: #fff;
}

h2{
    color: #EF5839;
    margin-bottom: 15px;
}

p{
    margin: 10px 0; 
}

a{
    text-decoration:none;
    color: #EF5839;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    margin-right: 15px;
    font-weight:600;
}

.btn-accent{
    background-color: #EF5839;
    color: #fff;
}

.btn-white{
    background-color: #fff;
    color: #000;
}
