body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(26, 35, 78);
}

h3{
    margin-bottom:10px ;
    font-size: 45px;
    color: white;
}

h2{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #111111;
    font-size: 100px;
    color: tomato;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

button{
    color: white;
    width: 50px;
    height: 50px;
    background-color: rgb(26, 35, 78);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
}

button:hover{
    background-color: rgb(67, 70, 90);
}